.metricas {
    display: flex;
    justify-content: center;
    padding: 0 5rem 6rem 5rem;
    gap: 4rem;
}

.metricas h1 {
    color: #8E2424;
    font-weight: 600;
    font-size: 2.8rem;
}

.metricas span {
    font-weight: 600;
    font-size: 1rem;
}

.metricas p {
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.5rem;
}