@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('./components/about.css');
@import url('./components/brief.css');
@import url('./components/footer.css');
@import url('./components/jobs.css');
@import url('./components/metrics.css');
@import url('./components/navbar.css');
@import url('./components/talents.css');

:root {
    --text-color: #667085;
    --main-color: #8E2424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}