.talents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 0 0;
}

.talents span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 0.75rem;
    background-color: var(--bg-color);
    border-radius: 1rem;
    color: var(--main-color);
    font-weight: 500;
    font-size: 0.8rem;
}

.talents h3 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: var(--title-color);
}

.talents p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: center;
    color: var(--text-color);
}

.talents img {
    max-width: 80%;
    margin: 4rem 0;
}